{% extends 'base.html.twig' %}

{% block title %}BarkBuddies
{% endblock %}

{% block body %}
	<nav class="menu">
		{% block header %}
			<a href="/"><img class="logo" src="/images/logo-tinder.png" alt="Logo Tinder pour BarkBuddies"></a>
		{% endblock %}
	</nav>

	<div class="container">
		<div class="principal_title">
			<h1>Trouvez votre âme soeur avec votre animal canin !</h1>
		</div>
		<div class="application">
			<img data-aos="fade-right" data-aos-duration="1000" src="#" alt="image_application">
			<div class="organization_div_flex">
				<p data-aos="fade-left" data-aos-duration="1000" class="div_title">À quoi sert cette application ?</p>
				<p data-aos="fade-left" data-aos-duration="1000">Cette application aide les propriétaires de chiens de compagnie à trouver des compagnons pour leurs animaux.
				Vous pouvez créer un profil et rechercher des chiens en fonction de leur race, de leur âge, de leur taille et de leur localisation.
				<br>
				<br>
				Elle est facile à utiliser et répond aux besoins des propriétaires d'animaux.
				Essayez-la dès maintenant pour trouver un ami pour votre animal en quelques minutes seulement !
				</p>
			</div>
		</div>
		<div class="profil_utilisateur">
			<div class="organization_div_flex">
				<p data-aos="fade-right" data-aos-duration="1000" class="div_title">Création d'un profil</p>
				<p data-aos="fade-right" data-aos-duration="1000">Créez facilement un profil pour votre chien sur Tinder pour chiens en téléchargeant sa photo et en ajoutant des informations sur sa personnalité et ses préférences.
				<br>
				<br>
				Vous pouvez ajouter une description de ses comportements et de ses préférences en matière de rencontres, ainsi que des informations de contact.
				Avec un profil détaillé, vous pouvez trouver facilement un compagnon pour votre animal.
				</p>
			</div>
			<img data-aos="fade-left" data-aos-duration="1000" src="/images/profil-tinder.jpg" alt="image_application">
		</div>
		<div class="organization_div">
			<p class="div_title" data-aos="zoom-in" data-aos-duration="1000">Élargir le cercle Social de votre animal</p>
			<p data-aos="zoom-in" data-aos-duration="1000">Avec Tinder pour chiens, vous pouvez élargir le cercle social de votre animal de compagnie en quelques minutes seulement.
			Notre application est conçue pour répondre aux besoins spécifiques des propriétaires de chiens, avec des fonctionnalités de recherche avancées,
			de correspondance et de communication.</p>
			<img data-aos="zoom-in" data-aos-duration="1000" class="image_tinder_emploi" src="/images/gps-tinder.jpg" alt="Mode emploi Tinder">
		</div>
		<div class="organization_div">
			<p data-aos="zoom-in" data-aos-duration="1000" class="div_title">Vous êtes un habitué de Tinder ?</p>
			<p data-aos="zoom-in" data-aos-duration="1000">Vous n'aurez aucun mal à utiliser Tinder pour chiens.
			<br>L'application est conçue pour être facile à utiliser et intuitive, même pour les personnes qui n'ont jamais utilisé Tinder auparavant.</p>
			<img data-aos="zoom-in" data-aos-duration="1000" class="image_tinder_emploi" src="/images/mode-emploi-tinder.jpg" alt="Mode emploi Tinder">
		</div>
		<div class="countdown">
			<p id="countdown"></p>
		</div>
		<div class="formulaire">
			{{ form_start(form, {'attr':{'class':'form'}}) }}
			<div class="form_title">
				<h2 style="color: #fff; text-align: center; margin-bottom: 1em;">Je veux être informé pour la bêta !</h2>
			</div>

			{{ form_label(form.email) }}
			{{ form_widget(form.email, {'attr':{'class':'input'}}) }}

			{{ form_label(form.firstname) }}
			{{ form_widget(form.firstname, {'attr':{'class':'input'}}) }}

			{{ form_label(form.lastname) }}
			{{ form_widget(form.lastname, {'attr':{'class':'input'}}) }}

			{{ form_label(form.inscription) }}
			{{ form_widget(form.inscription, {'attr':{'class':'button'}}) }}

			{{ form_end(form) }}
		</div>
	</div>
	{% block javascripts %}
    <script>
        // définir la date limite
        var countDownDate = new Date("April 28, 2023 15:00:00").getTime();

        // mettre à jour le compte à rebours toutes les secondes
        var x = setInterval(function() {

            // obtenir la date actuelle
            var now = new Date().getTime();

            // calculer la différence entre la date limite et la date actuelle
            var distance = countDownDate - now;

            // calculer les jours, heures, minutes et secondes restantes
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // afficher les résultats dans un élément HTML avec l'ID "countdown"
            document.getElementById("countdown").innerHTML = "Une bêta sera prête dans " + days + "j " + hours + "h " + minutes + "m " + seconds + "s ";

            // afficher un message lorsque le compte à rebours est terminé
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown").innerHTML = "Application prête !";
            }
        }, 1000);
    </script>
	<script>
  		AOS.init();
	</script>
{% endblock %}
{% endblock %}
